# This is a basic workflow to help you get started with Actions

name: Process client logs

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on: [push, pull_request]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "run-tests"
  run-tests:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: Setup BATS testing framework
      uses: mig4/setup-bats@v1.2.0
    - name: Check out the code
      uses: actions/checkout@v2
      with:
        submodules: true
    - name: Run the wrap_contents tests
      run: bats tests/process_client_logs.bats
      working-directory: .